// @mixin flex-jc-ai-dir($jc, $ai, $dir) {
//     display: flex;
//     justify-content: $jc;
//     align-items: $ai;
//     flex-direction: $dir;
//   }
@import "../abstract/abstract-files.scss";

.projectSection {
  // background-color: $mainDark;
  // border: 2px black dashed;
  max-width: 60rem;
  height: auto;
  margin: 7em auto;
  @include flex-jc-ai-dir(space-between, center, row);
  // flex-wrap: wrap;
  a {
    text-decoration: none;
    .projectCards {
      background-color: $mainLight;
      border-radius: 15px;
      width: 18.25rem;
      height: 11rem;
      box-shadow: $mainShadow;
      @include flex-jc-ai-dir(center, flex-end, row);
      &:hover {
        opacity: 0.5;
      }
      &:active {
        .projectNameArrowContainer .projectArrowContainer .arrowIcon {
          color: $secondaryLight;
        }
      }

      .projectNameArrowContainer {
        // border: 2px black dotted;
        width: 90%;
        margin: 0 0 1em 0;
        text-shadow: $secondaryShadow;
        @include flex-jc-ai-dir(space-between, center, row);

        .projectNameContainer {
          font-size: 2rem;
          font-weight: 700;
          // text-decoration: none;
          color: $secondaryDark;
        }
        .projectArrowContainer {
          // background-color: chartreuse;
          height: 3.5rem;
          width: 3.5rem;
          @include flex-jc-ai-dir(center, center, row);

          .arrowIcon {
            color: $secondaryDark;
            font-size: 3rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 920px) {
  .projectSection {
    // background-color: $mainDark;
    // @include flex-jc-ai-dir(space-between, center, column);


    a {
      .projectCards {
        width: 17rem;
        height: 10rem;
      }
    }
  }
}

@media only screen and (max-width: 830px) {
  .projectSection {
    // background-color: $mainDark;
    flex-direction: column;
    a {
      .projectCards {
        width: 17rem;
        height: 10rem;
        margin: 1em;
      }
    }
  }
}