// @mixin flex-jc-ai-dir($jc, $ai, $dir) {
//     display: flex;
//     justify-content: $jc;
//     align-items: $ai;
//     flex-direction: $dir;
//   }
@import "../abstract/mixins.scss";

  .projectSection {
    background-color: rgb(61, 126, 61);
    width: 80%;
    height: 50vh;
    margin: 0 auto;
    @include flex-jc-ai-dir(space-between, center, row);
    .projectCards {
      background-color: tomato;
      border-radius: 15px;
      width: 23rem;
      height: 11rem;
      @include flex-jc-ai-dir(center, center, row);
    }
  }